{% extends '../layouts/default.html' %}


{% block css%}
  <link href="/typeahead.js/dist/typeahead.css" rel="stylesheet">
{% endblock %}
{% block main %}
  <h1>{{ title }}</h1>
  <hr>
{% endblock %}

{% block content %}
  {% if article.isNew %}
    {% set action = '/articles' %}
  {% else %}
    {% set action = '/articles/' + article._id %}
  {% endif %}

  <div class="row">
    <div class="col-md-8">
      <form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal">

        <input type="hidden" name="_csrf" value="{{ csrf_token }}">

        {% if not article.isNew %}
          <input type="hidden" name="_method" value="PUT">
        {% endif %}

        <div class="form-group">
          <div class="col-sm-10">
            <input type="text" name="description" value="{{ article.description }}" placeholder="Enter the article" class="form-control typeahead" id="title">
          </div>
        </div>

        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">Many many</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="price" placeholder="Enter the article price" id="price" value="{{ article.price }}"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Save</button>
            &nbsp;
            <a href="/articles" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
<script src='/typeahead.js/dist/typeahead.bundle.js'></script>
<script>

 $(function(){
   var substringMatcher = function(strs) {
                            return function findMatches(q, cb) {
 var matches, substringRegex;

 // an array that will be populated with substring matches
 matches = [];

 // regex used to determine if a string contains the substring `q`
 substrRegex = new RegExp(q, 'i');

 // iterate through the pool of strings and for any string that
 // contains the substring `q`, add it to the `matches` array
 $.each(strs, function(i, str) {
   if (substrRegex.test(str)) {
     matches.push(str);
   }
 });

 cb(matches);
};
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
              'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
              'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
              'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
              'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
              'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
              'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
              'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
              'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
            ];

            $('.typeahead').typeahead({
              hint: true,
              highlight: true,
              minLength: 1
            },
            {
            name: 'states',
            source: substringMatcher(states)
            });

 });


</script>


{%endblock%}
